<div>
    <div ng-show="answer.correct" class="alert alert-success">
        <span>Reposta submetida com sucesso</span>
    </div>

    <div ng-show="answer.correct === false" class="alert alert-danger">
        <span>Reposta incorreta. Se tiver dúvidas não esqueça de usar o fórum abaixo =)</span>
    </div>
    <div class="submit">
        <!-- if no answer or incorrect -->
        <div class="row" ng-if="! answer.correct">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <button onClick="ga('send', 'event', 'activity', 'skip activity');" class="btn btn-default" ng-click="nextStep(true)" translate>Próximo</button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 textright">
                <button class="btn btn-success" ng-click="sendAnswer()" translate>Enviar</button>
            </div>
        </div>
        <!-- if correct -->
        <div class="row" ng-if="answer.correct">
            <div class="col-lg-12 col-md-12 col-sm-12 textright">
                <button class="btn btn-success" ng-click="nextStep()" translate>Continuar</button>
            </div>
        </div>
    </div>
</div>
