{% extends "base.html" %}
{% load compressed %}
{% load static %}
{% load i18n %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block js %}
    {{ block.super }}
    {% compressed_js 'reports' %}
    <script>
        window.course_id = {{ course.pk }};
        window.user_id = {{ user.pk }};
        {% if user.is_staff or user.is_superuser  %}
        window.is_admin = true;
        {% else %}
        window.is_admin = false;
        {% endif %}
    </script>
{% endblock %}

{% block content %}
<div id="stats" class="course-stats" ng-app="reports">

    {% if in_admin %}
        {% include "_admin_header_inline.html" with course=course %}
    {% else %}
        {% include "_course-header-inline.html"  with course=course %}
    {% endif %}

    <section id="stats-content" class="container" ng-controller="ReportsCtrl">

        <header class="secondary-header main-header-users-by-course-report">
            <div class="row">
                <div class="col-sm-9">
                    <h1>{% trans "Course reports" %}</h1>
                </div>
            </div>
        </header>

        <!-- FILTERS ABRIL 2018 -->
        <div class="filters main-header-users-by-course-report">
            <!--  FORM INLINE -->
            <form class="form-horizontal">
                <!-- ROW -->
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="col-lg-2 col-sm-2 col-xs-12 padding-left-3px">
                            <label class="control-label">{% trans "Student" %}</label>
                        </div>
                        <div class="col-lg-10 col-sm-10 col-xs-12 without-paddings-rl">
                            <input type="text" placeholder="{% trans 'Email or name' %}" class="form-control ng-pristine ng-valid" id="keyword" name="keyword" ng-model="filters.keyword">
                        </div>
                    </div>
                </div>

                <div class="row">
                <div class="col-sm-8">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 without-paddings-rl">
                      <label class="control-label">{% trans "Date joined"%}</label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 without-paddings-rl">
                      <!-- Date range example -->
                        {% verbatim %}
                          <div class="col-xs-6 padding-left-3px">
                            <input type="text" class="form-control"  data-date-format="dd/MM/yyyy" ng-model="from_date" data-max-date="{{until_date}}" placeholder="de" bs-datepicker>
                          </div>
                          <div class="col-xs-6 without-paddings-rl">
                            <input type="text" class="form-control" data-date-format="dd/MM/yyyy" ng-model="until_date" data-min-date="{{from_date}}" placeholder="até" bs-datepicker>
                          </div>
                        {% endverbatim %}
                    </div>

                </div>
                  <div class="col-sm-4">
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
                        <label class="control-label">% {% trans "Progress" %}</label>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 without-paddings-rl">
                        <select class="form-control padding-right-7px" ng-model="filters.percentage_completion" id="filter-class">
                                <option value="0">Todos</option>
                                <option value="1">0%</option>
                                <option value="2">< 50%</option>
                                <option value="3">entre 50% e 80%</option>
                                <option value="4">>= 80%</option>
                        </select>
                      </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-sm-6">
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 without-paddings-rl">
                        <label class="control-label">Dias Inatividade</label>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding-input-inactivity">
                        <input type="number" ng-model="filters.days_inactive" ng-change="check_day()" class="form-control ng-pristine ng-valid">
                      </div>
                  </div>
                  <div class="col-sm-2 col-sx-12 without-paddings-rl">
                  </div>
                  <div class="col-sm-2 col-sx-12">
                        <button class="btn btn-info width100" ng-click="filter_stats()">Pesquisar</button>
                  </div>
                  <div class="col-sm-2 col-sx-12">
                        <button class="btn btn-info width100" ng-click=""><i class="fa fa-download"></i> Exportar</button>
                      </div>
                  </div>
                <!-- END ROW -->
            </form>
            <!-- END FORM INLINE -->
        </div>
        <!-- END FILTERS -->

        <section class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#students" data-toggle="tab">{% trans "Students" %}</a></li>
                    <li><a href="#lessons" data-toggle="tab">{% trans "Lessons" %}</a></li>
                </ul>

                <!-- tab de ALUNOS -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="students">
                        <div class="col-lg-12" ng-hide="users_reports.$resolved">
                            <p>{% trans 'Loading students report' %}...   <i class="loading fa fa-refresh fa-spin"></i></p>
                        </div>
                        <div class="row" ng-show="users_reports.$resolved">
                            <div class="col-sm-8  margin-b10">
                                <h3>{% trans 'Students progress' %}</h3>
                                <h4>{% trans 'Total number of students' %}: {% verbatim %}{{ users_reports.count }}{% endverbatim %}</h4   >
                            </div>

                        </div>
                        <ul class="students header-user-list">
                          <li>
                            <div class="row-eq-height">
                              <div class="col-sm-8">
                                <div class="col-sm-3 fullname">{% trans "Full name" %}</div>
                                <div class="col-sm-1">{% trans "Progress" %}</div>
                                <div class="col-sm-1">{% trans "Date joined"%}</div>
                                <div class="col-sm-1">{% trans "Last access"%}</div>
                                <div class="col-sm-3 email">{% trans "Main E-mail" %}</div>
                                <div class="col-sm-1">{% trans "Occupation" %}</div>
                                <div class="col-sm-2">{% trans "Grade" %}</div>
                              </div>
                              <div class="col-sm-4">
                                <div class="col-sm-4">{% trans "Disciplines" %}</div>
                                <div class="col-sm-2">{% trans "State" %}</div>
                                <div class="col-sm-3">{% trans "City" %}</div>
                                <div class="col-sm-3 textcenter"></div>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <ul class="students" ng-show="users_reports.$resolved">
                            <li ng-repeat="user_data in users_reports.results">
                                  <div class="row">
                                    <div class="col-sm-8">
                                      {% verbatim %}
                                      <div class="col-sm-3">{{user_data.user.first_name}}</div>
                                      <div class="col-sm-1 hidden-xs">
                                          <div class="progress">

                                              <div class="progress-bar" style="width:{{ user_data.course_progress }}%;">{{ user_data.course_progress }}%</div>
                                          </div>
                                      </div>
                                      <div class="col-sm-1">{{ user_data.created_at | date:'dd/MM/yyyy' }}</div>
                                      <div class="col-sm-1">{{ user_data.last_access | date:'dd/MM/yyyy' }}</div>
                                      <div class="col-sm-3 email show-small-text">{{ user_data.user.email }}</div>
                                      <div class="col-sm-1 show-small-text"><span ng-repeat="occupation in user_data.user.occupations">{{ occupation.name }}<br></span></div>
                                      <div class="col-sm-2 show-small-text"><span ng-repeat="ed in user_data.user.education_degrees">{{ ed.name }}<br></span></div>
                                      {% endverbatim %}
                                    </div>

                                    <div class="col-sm-4">
                                        {% verbatim %}
                                        <div class="col-sm-4 show-small-text"><span ng-repeat="discipline in user_data.user.disciplines">{{ discipline.name }}<br></span></div>
                                        <div class="col-sm-2">{{ user_data.user.city.uf }}</div>
                                        <div class="col-sm-3 show-small-text">{{ user_data.user.city.name }}</div>
                                        {% endverbatim %}
                                        <div class="col-md-3 col-sm-3 col-xs-12 textright">
                                            <span class="label label-default pointer" ng-click="show_user_progress_details(user_data);showLessons=!showLessons">
                                                {% trans 'Lessons' %}
                                                <i class="fa" ng-class="{'fa fa-caret-down':!showLessons,'fa fa-caret-up':showLessons}"></i>
                                            </span>
                                        </div>
                                    </div>


                                    <div class="lessons col-xs-12" ng-if="showLessons">
                                        <div class="col-lg-12" ng-hide="user_data.lessons_stats.$resolved">
                                            <span>{% trans 'Loading student report' %}...   <i class="loading fa fa-refresh fa-spin"></i></span>
                                        </div>
                                        <div class="row row-show-lessons">
                                          <div class="col-sm-12 lesson" ng-repeat="lesson in user_data.lessons_stats.lessons_progress">
                                              {% verbatim %}

                                                  <div class="col-lg-5 col-md-6 col-sm-7 col-xs-10">{{ lesson.name }}</div>
                                                  <div class="col-md-1 col-sm-2 col-xs-2 textright">{{ lesson.progress | number:0 }}%</div>
                                                  <div class="col-md-2 col-sm-3 hidden-xs">
                                                      <div class="progress">
                                                          <div class="progress-bar" style="width:{{ lesson.progress }}%;"></div>
                                                      </div>
                                                  </div>

                                              {% endverbatim %}
                                          </div>
                                        </div>
                                    </div>
                                  </div>
                              </li>
                        </ul>
                        <pagination
                            total-items="users_reports.count"
                            items-per-page="50"
                            ng-model="filters.page"
                            ng-change="filter_stats()"
                            max-size="5"
                            boundary-links="true"
                            previous-text="{% trans 'Previous' %}"
                            next-text="{% trans 'Next' %}"
                            first-text="{% trans 'First' %}"
                            last-text="{% trans 'Last' %}">
                        </pagination>
                    </div>

                    <!-- tab de AULAS -->
                    <div class="tab-pane fade in" id="lessons">
                        <div class="row">
                            <div class="col-lg-8">
                                <h3>{% trans 'Average student progress per class' %}</h3>
                                <div class="col-lg-12" ng-hide="course_stats.$resolved">
                                    <p>{% trans 'Loading lessons report' %}...   <i class="loading fa fa-refresh fa-spin"></i></p>
                                </div>
                            </div>
                        </div>
                        <ul class="lessons">
                            <li class="lesson" ng-repeat="lesson in course_stats.lessons_avg_progress">
                                {% verbatim %}
                                <div class="row">
                                    <div class="col-lg-5 col-md-6 col-sm-7 col-xs-10">{{ lesson.name }}</div>
                                    <div class="col-sm-1 col-xs-2 textright">{{ lesson.progress  | number: 0 }}%</div>
                                    <div class="col-md-2 col-sm-3 hidden-xs">
                                        <div class="progress">
                                            <div class="progress-bar" style="width:{{ lesson.progress }}%;"></div>
                                        </div>
                                    </div>
                                </div>
                                {% endverbatim %}
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>


{% endblock content %}
