#home{
  margin-top: 0;
  font-family: 'Raleway', sans-serif;
  .home-title{
    font-size: 3vw;
    font-family: 'Raleway';
  }
}
.img-home{
  padding-top: 25px;
}
.midia{
  text-align: center;
  img{
    margin: 0 auto;
  }
}
.home-banner{
  background: url('../img/bannertecmenor.jpg') top left / 100% no-repeat fixed;
  color: #FFF;
  padding: 2em 1em;
}
.opening-date{
  background-color: #fff;
  color: @brand-primary;
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-weight: bold;
}
.title_midia{
  font-size: 1.5em;
  text-transform: uppercase;
  margin-top: 1.5em;
  color: @brand-red;
  font-weight: bold;
}
.logo-inova{
  padding-top: 1em;
}
.carousel-home{
  .carousel-inner{
    display: table;
  }
  .carousel-control.left, .carousel-control.right{
    background: none;
    cursor: pointer;
  }
  .carousel-caption{
    color: @gray-dark;
    position: static;
    text-shadow: none;
    max-width: 80%;
    margin: 0 auto;
  }
  .carousel-indicators{
    position: static;
    margin: 0 auto;
  }
}
.testimonial{
  font-size: 2em;
  max-width: 80%;
  margin: 0 auto;
}
.apoio{
  & > div{
    padding: 10px 0;
  }
}