{% extends 'account/base.html' %}
{% load i18n %}
{% load staticfiles%}
{% block account_content %}

<!-- PRS 1-->
    <h1 class="text-center">
        {% trans "Sign Up" %} gratuitamente!
    </h1>
    <form onclick="event.stopPropagation()" method="post" action="{% url 'account_signup' %}" id="form-sign-up-page" class="form-horizontal form-sign-up">{% csrf_token %}
        {% with errors=form.fullname.errors %}
        <div class="form-group{{ errors|yesno:' has-error,' }}">
            <label class="col-lg-4 col-sm-4 control-label">{% trans "Full name" %}</label>
            <div class="col-lg-8 col-sm-8">

                {% if form.fullname.value == False %}
                    <input name="fullname" type="text" value="" class="form-control" placeholder="{% trans 'Insira seu nome completo'%}">
                {% else %}
                    <input name="fullname" type="text" value="{{form.fullname.value|default_if_none:""}}" class="form-control" placeholder="{% trans 'Insira seu nome completo' %}">
                {% endif %}

                {% for error in errors %}<small>{{error}}</small>{% endfor %}
            </div>
        </div>
        {% endwith %}

        {% with errors=form.email.errors %}
        <div class="form-group{{ errors|yesno:' has-error,' }}">
            <label class="col-lg-4 col-sm-4 control-label">{% trans "E-mail" %}</label>
            <div class="col-lg-8 col-sm-8">
                <input name="email" type="email" value="{{form.email.value|default_if_none:""}}" class="form-control" placeholder="{% trans 'Insert your e-mail' %}">
                {% for error in errors %}<small>{{error}}</small>{% endfor %}
            </div>
        </div>
        {% endwith %}

        {% with errors=form.password1.errors %}
          <div class="form-group{% if errors or form.non_field_errors %} has-error{% endif %}">
            <label class="col-lg-4 col-sm-4 control-label">{% trans "Password" %}</label>
            <div class="col-lg-8 col-sm-8">
                <p><input name="password1" type="password" class="form-control" placeholder="{% trans 'Really strong password' %}"></p>
                <input name="password2" type="password" class="form-control" placeholder="{% trans 'Password confirmation' %}">
                {% for error in errors %}<small>{{error}}</small>{% endfor %}
                {% for error in form.non_field_errors %}<small>{{error}}</small>{% endfor %}
            </div>
        </div>
        {% endwith %}

        {% if terms_required %}
        {% with errors=form.accept_terms.errors %}
        <div class="form-group{{ errors|yesno:' has-error,' }}">
            <div class="col-lg-offset-4 col-sm-offset-4 col-lg-8 col-sm-8 textleft">
                <span class="checkbox-wrapper"><input name="accept_terms" id="accept_terms" type="checkbox" {% if form.accept_terms.value %}checked=""{% endif %}></span>
                {% url 'flatpage' url='/terms' as terms_url %}
                <label for="accept_terms" class="terms">{% blocktrans %}I agree to the <a href="{{ terms_url }}" target="_blank">Terms of Use</a>{% endblocktrans %}</label>
                {% for error in errors %}<small>{{error}}</small>{% endfor %}
            </div>
        </div>
        {% endwith %}
        {% endif %}

        <input type="hidden" name="username">
        <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">

        <div class="submit textright">
            <button class="btn btn-success">{% trans "Sign Up" %}</button>
        </div>

      
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
    </form>

<script type="text/javascript" src="{% static 'js/signup_email_tousername.js' %}" charset="utf-8"></script>

{% endblock %}
