<!-- FOOTER -->
<div id="main-footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 lead">
                <h5><i class="fa fa-envelope-o"></i> Entre em contato</h5>
                <p>Envie um email para <em>contato@mupi.me</em> que responderemos o mais rápido possível.</p>
            </div>
            <div class="col-md-6">
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                    <form action="//mupi.us6.list-manage.com/subscribe/post?u=019b0afa5dc43eb80d4496614&amp;id=185c00ff69" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll" class="form-group">
                            <label for="mce-EMAIL">Deixe seu email para receber novidades</label>
                            <input class="u-full-width form-control" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;">
                                <input type="text" name="b_019b0afa5dc43eb80d4496614_185c00ff69" tabindex="-1" value="">
                            </div>
                            <div class="clear form-group pull-right">
                                <br/>
                                <input type="submit" value="Assinar lista" name="subscribe" id="mc-embedded-subscribe" class="btn btn-info">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!--End mc_embed_signup-->
        </div>
        <div class="row">
            <ul class="textcenter col-lg-12 list-unstyled nav-social-icons">
              <li class="">
                <a class="fb" href="http://www.facebook.com/escolamupi" target="_blank" title="facebook">
                    <i class="fa fa-facebook-square"></i>
                </a>
              </li>
              <li>
                <a class="ln" href="http://www.linkedin.com/company/mupi" target="_blank" title="linkedin">
                    <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a class="tw" href="https://twitter.com/escolamupi" target="_blank" title="twitter">
                    <i class="fa fa-twitter-square"></i>
                </a>
              </li>
              <li>
                <a class="tw" href="https://github.com/anarute/tecsaladeaula" target="_blank" title="github">
                    <i class="fa fa-github"></i>
                </a>
              </li>
            </ul>
        </div>
    </div>
</div>
<!-- END FOOTER -->