{% extends 'base.html' %}

{% load i18n %}
{% load compressed %}
{% load is_enrolled %}
{% load get_flatpage %}
{% load static %}

{% block js %}
    {{ block.super }}
    {% compressed_js 'core' %}
    <!--<script type="text/javascript" src="/static/js/introjs/home.js"></script>-->
{% endblock %}

{% block wrapper_classes %}
home
{% endblock %}

{% block content %}

    <div id="home" ng-app="core" ng-controller="HomeCtrl">
        {% if in_admin %}
        <!-- ACTIONS -->
        <div class="actions-menu" fixed-bar>
            <div class="container">
                <div class="actions-buttons">
                    <button class="btn btn-default" ng-click="organizingCourses=!organizingCourses">
                        {% trans 'Organize courses' %} | <i class="fa fa-th-large"></i></button>
                    <button class="btn btn-default" data-toggle="modal" data-targedt="#modalSelectCourses" ng-click="start_changing_home_cousers()">
                        {% trans 'Choose home courses' %} | <i class="fa fa-pencil-square-o"></i></button>
                    <button class="btn btn-danger" ng-click="cancel_home_changes()">{% trans 'Cancel' %} | <i class="fa fa-times"></i></button>
                    <button class="btn btn-success" ng-click="save_home()">{% trans 'Save' %} | <i class="fa fa-save"></i></button>
                </div>
                {% include 'administration/_alert.html' %}
            </div>
        </div>
        <!-- END ACTIONS -->
        {% endif %}
        <section class="home-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h1 class="home-title">Curso Read in Web</h1>
                        <p class="lead">
                          Curso 100% online desenvolvido e oferecido pela UNICAMP que já atendeu mais de 5 mil alunos.
                        </p>
                        <p>
                            INSCRIÇÕES ABERTAS! Clique no curso abaixo e em seguida em "Inscrever-se"
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="courses" class="container">

            <header>
                <h2 class="text-center">Se você já se matriculou, clique abaixo para acessar o curso Read in Web.</h2>
                <div class="row">
                    {% if in_admin %}
                    <div class="col-xs-12 textright">
                        <button class="btn btn-default" ng-click="organizingCourses=!organizingCourses">
                            {% trans 'Organize courses' %} | <i class="fa fa-th-large"></i></button>
                    </div>
                    {% endif %}
                </div>
            </header>
            {% if in_admin %}
            <div class="row" class="sortable-container grid" sv-root sv-part="home_courses" sv-on-sort="set_order_changed()">
                <div ng-repeat="course in home_courses" sv-element="opts" class="grid block course col-md-4 col-sm-6 col-xs-12" ng-class="{drag:organizingCourses}">
                    {% verbatim %}
                    <span class="btn btn-warning btn-drag" sv-handle ng-show="organizingCourses"><i class="fa fa-bars"></i></span>
                    <div class="thumb-wrapper">
                        <span class="mouseover"></span>
                        <span class="thumb" ng-style="{'background-image': 'url(' + course.home_thumbnail_url + ')'}"></span>
                    </div>
                    <div class="info">
                        <h3>{{ course.name }}</h3>
                        <p class="instructors">{{ course.professors_names }}</p>
                        <p class="abstract">{{ course.abstract }}</p>
                    </div>
                    <div class="enroll">
                        <span class="course-date">
                            <i class="fa fa-calendar"></i> {{ course.start_date | date : 'MMM, yyyy' | capitalize}}
                        </span>
                        <span class="enroll-link textright uppercase">
                            Começar curso <i class="fa fa-angle-right"></i>
                        </span>
                    </div>
                    {% endverbatim %}
                </div>
            </div><!-- .row -->

            {% else %}

            <div class="row">

                {% for course in home_courses %}
                    <div class="block course col-md-4 col-sm-6">
                        <a href="{% url "course_intro" course.slug %}" class="course-link">
                            {% if course.right_tag %}
                                <span class="home-right-label">{{ course.right_tag }}</span>
                            {% endif %}

                            {% if course.left_tag %}
                                <span class="home-left-label">{{ course.left_tag }}</span>
                            {% else %}
                                {% if course.private %}
                                    <span class="home-left-label">Exclusivo!</span>
                                {% elif course.tuition == 0 %}
                                    <span class="free-label">Gratuito!</span>
                                {% endif %}
                            {% endif %}
                            
                            <div class="thumb-wrapper">
                                <span class="mouseover"></span>
                                <span class="thumb" {% if course.home_thumbnail %}style="background-image: url({{ course.home_thumbnail.url }})"{% endif %}></span>
                            </div>
                            <div class="info">
                                <h3>{{ course.name }}</h3>
                                <p class="instructors">{% for professor in course.get_video_professors %}{{ professor.get_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                                <p class="abstract">{{ course.abstract }}</p>
                            </div>
                             <div class="enroll">
                                <span>
                                    <i class="fa fa-calendar"></i> {{ course.start_date|date:'M, Y'}}
                                </span>
                                <span class="enroll-link textright uppercase">
                                    {% if user|is_enrolled:course %}
                                    {% trans 'Go to course' %} <i class="fa fa-angle-right"></i>
                                    {% else %}
                                    {% trans 'Resume course' %} <i class="fa fa-angle-right"></i>
                                    {% endif %}
                                </span>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div><!-- .row -->
            {% endif %}

        {% if in_admin %}
            <div class="modal fade" id="modalSelectCourses">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel_courses_selection()">&times;</button>
                    <h4 class="modal-title">{% trans 'Edit home courses' %}</h4>
                  </div>
                  <div class="modal-body">
                      <div class="row">
                        {% verbatim %}
                        <div ng-repeat="course in all_courses">
                            <div class="select-course col-xs-6" ng-click="selectCourse(course)" ng-class="{active: course.home_published}">
                                <div class="course-thumb" style="background-image: url({{ course.home_thumbnail_url }});">
                                    <span class="selected"></span>
                                </div>
                                <div class="course-info">
                                    <h3>{{ course.name }}</h3>
                                </div>
                            </div>
                        </div>
                        {% endverbatim %}
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel_courses_selection()">{% trans 'Cancel' %}</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="apply_courses_selection()">Ok</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        {% endif %}
    </div><!-- #home -->

</div>
<!-- ManyChat -->
<!-- <script src="//widget.manychat.com/259099920790095.js" async="async"></script> -->
    
{% endblock %}
