{% extends 'base.html' %}

{% load i18n %}
{% load compressed %}
{% load is_enrolled %}
{% load get_flatpage %}
{% load static %}

{% block js %}
    {{ block.super }}
    {% compressed_js 'core' %}
    <!--<script type="text/javascript" src="/static/js/introjs/home.js"></script>-->
{% endblock %}

{% block wrapper_classes %}
home
{% endblock %}

{% block content %}

    <div id="home" ng-app="core" ng-controller="HomeCtrl">
        {% if in_admin %}
        <!-- ACTIONS -->
        <div class="actions-menu" fixed-bar>
            <div class="container">
                <div class="actions-buttons">
                    <button class="btn btn-default" ng-click="organizingCourses=!organizingCourses">
                        {% trans 'Organize courses' %} | <i class="fa fa-th-large"></i></button>
                    <button class="btn btn-default" data-toggle="modal" data-targedt="#modalSelectCourses" ng-click="start_changing_home_cousers()">
                        {% trans 'Choose home courses' %} | <i class="fa fa-pencil-square-o"></i></button>
                    <button class="btn btn-danger" ng-click="cancel_home_changes()">{% trans 'Cancel' %} | <i class="fa fa-times"></i></button>
                    <button class="btn btn-success" ng-click="save_home()">{% trans 'Save' %} | <i class="fa fa-save"></i></button>
                </div>
                {% include 'administration/_alert.html' %}
            </div>
        </div>
        <!-- END ACTIONS -->
        {% endif %}
        <section class="home-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h1 class="home-title">Formação continuada de professores</h1>
                        <p class="lead">
                          Oferecemos cursos gratuitos. Faça parte você também dessa comunidade de professores de todo Brasil! </p>
                        <p>
                            <a href="{% url 'courses' %}" class="btn btn-success text-uppercase">Conheça nossos cursos</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="courses" class="container">

            <header>
                <h2 class="text-center"><strong>Comece agora</strong> a aprender como utilizar tecnologia para enriquecer suas aulas!</h2>
                <div class="row">
                    {% if in_admin %}
                    <div class="col-xs-12 textright">
                        <button class="btn btn-default" ng-click="organizingCourses=!organizingCourses">
                            {% trans 'Organize courses' %} | <i class="fa fa-th-large"></i></button>
                    </div>
                    {% endif %}
                </div>
            </header>
            {% if in_admin %}
            <div class="row" class="sortable-container grid" sv-root sv-part="home_courses" sv-on-sort="set_order_changed()">
                <div ng-repeat="course in home_courses" sv-element="opts" class="grid block course col-md-4 col-sm-6 col-xs-12" ng-class="{drag:organizingCourses}">
                    {% verbatim %}
                    <span class="btn btn-warning btn-drag" sv-handle ng-show="organizingCourses"><i class="fa fa-bars"></i></span>
                    <div class="thumb-wrapper">
                        <span class="mouseover"></span>
                        <span class="thumb" ng-style="{'background-image': 'url(' + course.home_thumbnail_url + ')'}"></span>
                    </div>
                    <div class="info">
                        <h3>{{ course.name }}</h3>
                        <p class="instructors">{{ course.professors_names }}</p>
                        <p class="abstract">{{ course.abstract }}</p>
                    </div>
                    <div class="enroll">
                        <span class="course-date">
                            <i class="fa fa-calendar"></i> {{ course.start_date | date : 'MMM, yyyy' | capitalize}}
                        </span>
                        <span class="enroll-link textright uppercase">
                            Começar curso <i class="fa fa-angle-right"></i>
                        </span>
                    </div>
                    {% endverbatim %}
                </div>
            </div><!-- .row -->

            {% else %}

            <div class="row">

                {% for course in home_courses %}
                    <div class="block course col-md-4 col-sm-6">
                        <a href="{% url "course_intro" course.slug %}" class="course-link">
                            {% if not course.has_started %}<span class="coming-soon-label">{% trans 'Soon' %}</span>{% endif %}
                            {% if course.tuition == 0 %}<span class="free-label">Gratuito!</span>{% endif %}
                            <div class="thumb-wrapper">
                                <span class="mouseover"></span>
                                <span class="thumb" {% if course.home_thumbnail %}style="background-image: url({{ course.home_thumbnail.url }})"{% endif %}></span>
                            </div>
                            <div class="info">
                                <h3>{{ course.name }}</h3>
                                <p class="instructors">{% for professor in course.get_video_professors %}{{ professor.get_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                                <p class="abstract">{{ course.abstract }}</p>
                            </div>
                             <div class="enroll">
                                <span>
                                    <i class="fa fa-calendar"></i> {{ course.start_date|date:'M, Y'}}
                                </span>
                                <span class="enroll-link textright uppercase">
                                    {% if user|is_enrolled:course %}
                                    {% trans 'Go to course' %} <i class="fa fa-angle-right"></i>
                                    {% else %}
                                    {% trans 'Resume course' %} <i class="fa fa-angle-right"></i>
                                    {% endif %}
                                </span>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div><!-- .row -->
            {% endif %}

            <div class="row">
                <div class="see-all-courses col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                    <a href="{% url 'courses' %}" class="btn btn-lg btn-info btn-block">{% trans "All courses" %}</a>
                </div>
            </div>
        </section><!-- #courses -->

        <section id="how-it-works">
            <div class="container">

                {% if in_admin %}
                <header>
                    {% verbatim %}
                    <h1 ng-hide="!bottom_home_flatpages.$resolved">Curso online: Tecnologia para Sala de Aula</h1>
                    {% endverbatim %}
                </header>
                <div class="highlight textcenter">
                    <div class="col-lg-12" ng-hide="bottom_home_flatpages.$resolved">
                        <i class="loading fa fa-refresh fa-spin"></i>
                    </div>
                    <modalmarkdowneditorwithtitle tabindex="2"
                                                  on-save="save_home_text(home_bottom_intro)"
                                                  title-model="home_bottom_intro.title"
                                                  content="home_bottom_intro.content"
                                                  ng-hide="!bottom_home_flatpages.$resolved">
                    </modalmarkdowneditorwithtitle>
                </div>
                {% endif %}

                <div class="highlight textcenter">
                    <div class="row midia">
                        <div class="col-md-2">
                          <h4 class="title_midia">Saiu na mídia</h4>
                        </div>
                        <div class="col-md-3">
                          <a href="http://porvir.org/porfazer/curso-ensina-como-usar-ferramentas-virtuais-para-educadores" target="_blank">
                            <img src="{% static 'img/logo_porvir.png' %}" class="img-responsive">
                          </a>
                        </div>
                        <div class="col-md-1 logo-novaescola">
                          <a href="https://www.youtube.com/watch?v=67byn7rxG-s&t=249" target="_blank">
                            <img src="{% static 'img/logo_nova_escola.png' %}" class="img-responsive">
                          </a>
                        </div>
                        <div class="col-md-2 logo-novaescola">
                          <a href="http://rescola.com.br/curso-ensina-educadores-a-utilizar-ferramentas-gratuitas-da-web-na-sala-de-aula" target="_blank">
                            <img src="{% static 'img/logorescola.png' %}" class="img-responsive">
                          </a>
                        </div>
                        <div class="col-md-2 logo-novaescola">
                          <a href="http://www.inova.unicamp.br/noticia/3413" target="_blank">
                            <img src="{% static 'img/logo_inova.png' %}" class="img-responsive">
                          </a>
                        </div>
                        <div class="col-md-2 logo-inova">
                          <a href="http://www.arede.inf.br/parabens-vencedores-do-premio-arede-educa-2016/" target="_blank">
                            <img src="{% static 'img/arede.png' %}" class="img-responsive">
                          </a>
                        </div>
                    </div>
                </div>

                <div id="carousel-testimonials" class="carousel slide carousel-home" data-ride="carousel" data-interval="false">

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">

                    <div class="item active">
                        <blockquote class="testimonial">
                            <p>
                              <i class="fa fa-quote-left"></i>
                              Sempre fiz cursos online e nunca tinha passado por
                              uma experiência como esta. Vídeos e textos todos muito adequados.
                              Em outros cursos sempre achei tudo muito ultrapassado.
                              Aqui me senti sendo atualizada.
                              <i class="fa fa-quote-right"></i>
                            </p>
                        </blockquote>
                      <div class="carousel-caption">
                        Fabiana Navarro da Silva Gomes<br/>
                        Curso <a href="http://tecsaladeaula.com.br/course/tecnologia-e-educacao-o-mundo-esta-sempre-mudando/intro/">
                        Reflexões sobre tecnologia, educação e sociedade</a>
                      </div>
                    </div>
                    <div class="item">
                        <blockquote class="testimonial">
                            <p>
                              <i class="fa fa-quote-left"></i>
                              O curso me abriu muitos caminhos assim como me
                              propiciou novos horizontes para poder otimizar os
                              trabalhos nesse ambiente tão rico e dinâmico que
                              é a escola.
                                <i class="fa fa-quote-right"></i>
                            </p>
                        </blockquote>
                      <div class="carousel-caption">
                        Fabiana Manzano dos S. Lago<br/>
                        Curso <a href="http://tecsaladeaula.com.br/course/tecnologia-e-educacao-o-mundo-esta-sempre-mudando/intro/">
                        Reflexões sobre tecnologia, educação e sociedade</a>
                      </div>
                    </div>
                    <div class="item">
                      <blockquote class="testimonial">
                          <p>
                              <i class="fa fa-quote-left"></i>
                                Eu buscava algo que pudesse fazer parte do meu
                                acervo de material e, neste curso, pude
                                encontrar de maneira clara e bastante objetiva.
                                <i class="fa fa-quote-right"></i>
                            </p>
                        </blockquote>
                      <div class="carousel-caption">
                      Luciana Vasconcelos Machado<br/>
                      Curso <a href="http://tecsaladeaula.com.br/course/objetos-de-aprendizagem/intro/">
                      Objetos de Aprendizagem </a>
                      </div>
                    </div>
                    <div class="item">
                        <blockquote class="testimonial">
                          <p>
                            <i class="fa fa-quote-left"></i>
                              As aulas da plataforma vão direto ao ponto, sem
                            perder tempo. O conhecimento ali e pronto. O lugar
                             certo para professores como eu que tem pouco tempo,
                             mas que reconhece a necessidade de se reciclar
                             a todo tempo.
                            <i class="fa fa-quote-right"></i>
                          </p>
                        </blockquote>
                      <div class="carousel-caption">
                        Hélio Silva<br/>
                        Curso <a href="http://tecsaladeaula.com.br/course/google-news-seu-jornal-interativo-em-aula/intro/">
                        Google News: seu jornal interativo em aula </a>
                      </div>
                    </div>
                    <div class="item">
                        <blockquote class="testimonial">
                          <p>
                            <i class="fa fa-quote-left"></i>
                            Considero esse curso sobre a utilização de jornal
                            interativo uma excelente proposta para ser utilizada
                             para enriquecer as aulas de Geografia atualizando
                             com mais rapidez os conteúdos
                            <i class="fa fa-quote-right"></i>
                          </p>
                        </blockquote>
                      <div class="carousel-caption">
                        Ariele Luz <br/>
                        Curso <a href="http://tecsaladeaula.com.br/course/google-news-seu-jornal-interativo-em-aula/intro/">
                        Google News: seu jornal interativo em aula </a>
                      </div>
                    </div>
                    <div class="item">
                        <blockquote class="testimonial">
                          <p>
                            <i class="fa fa-quote-left"></i>
                            O curso é maravilhoso, informativo, objetivo e
                            principalmente nos dá uma visão totalmente diferente
                            sobre o uso da tecnologia em sala de aula.
                            <i class="fa fa-quote-right"></i>
                          </p>
                        </blockquote>
                      <div class="carousel-caption">
                        Bruno Younes<br/>
                        Curso <a href="http://tecsaladeaula.com.br/course/como-utilizar-o-twitter-em-sala-de-aula/intro/">
                        Como utilizar o Twitter em Sala de Aula</a>
                      </div>
                    </div>
                    <div class="item">
                        <blockquote class="testimonial">
                          <p>
                            <i class="fa fa-quote-left"></i>
                            Para mim foi uma descoberta e tanto sobre o
                            pontencial do uso do Twitter na educação!
                            <i class="fa fa-quote-right"></i>
                          </p>
                        </blockquote>
                      <div class="carousel-caption">
                        Carlos Alberto Coelho da Silva<br/>
                        Curso <a href="http://tecsaladeaula.com.br/course/como-utilizar-o-twitter-em-sala-de-aula/intro/">
                        Como utilizar o Twitter em Sala de Aula</a>
                      </div>
                    </div>
                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-testimonials" role="button" data-slide="prev" ng-non-bindable>
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-testimonials" role="button" data-slide="next" ng-non-bindable>
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Próximo</span>
                  </a>

                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-testimonials" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-testimonials" data-slide-to="1"></li>
                    <li data-target="#carousel-testimonials" data-slide-to="2"></li>
                    <li data-target="#carousel-testimonials" data-slide-to="3"></li>
                    <li data-target="#carousel-testimonials" data-slide-to="4"></li>
                    <li data-target="#carousel-testimonials" data-slide-to="5"></li>
                    <li data-target="#carousel-testimonials" data-slide-to="6"></li>
                  </ol>

                </div>

            </div>
        </section><!-- #how-it-works -->
    </div><!-- #home -->

</div>
<!-- ManyChat -->
<script src="//widget.manychat.com/259099920790095.js" async="async"></script>
    
{% endblock %}
