{% extends 'base.html' %}

{% load i18n %}
{% load compressed %}
{% load is_enrolled %}
{% load get_flatpage %}
{% load static %}

{% block js %}
    {{ block.super }}
    {% compressed_js 'core' %}
    <script type="text/javascript" src="/static/js/introjs/home.js"></script>
{% endblock %}

{% block wrapper_classes %}
home
{% endblock %}

{% block content %}

    <div id="home" ng-app="core" ng-controller="HomeCtrl">
        {% if in_admin %}
        <!-- ACTIONS -->
        <div class="actions-menu" fixed-bar>
            <div class="container">
                <div class="actions-buttons">
                    <button class="btn btn-default" ng-click="organizingCourses=!organizingCourses">
                        {% trans 'Organize courses' %} | <i class="fa fa-th-large"></i></button>
                    <button class="btn btn-default" data-toggle="modal" data-targedt="#modalSelectCourses" ng-click="start_changing_home_cousers()">
                        {% trans 'Choose home courses' %} | <i class="fa fa-pencil-square-o"></i></button>
                    <button class="btn btn-danger" ng-click="cancel_home_changes()">{% trans 'Cancel' %} | <i class="fa fa-times"></i></button>
                    <button class="btn btn-success" ng-click="save_home()">{% trans 'Save' %} | <i class="fa fa-save"></i></button>
                </div>
                {% include 'administration/_alert.html' %}
            </div>
        </div>
        <!-- END ACTIONS -->
        {% endif %}
        <section class="home-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h1 class="home-title">Formação de professores</h1>
                        <p class="lead">Aprenda com nossos cursos online o passo-a-passo de como utilizar as ferramentas gratuitas mais
                            populares da internet em sua sala de aula.</p>
                        <p>
                            <a href="{% url 'courses' %}" class="btn btn-success text-uppercase">Conheça nossos cursos</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="courses" class="container">

            <header>
                <h2 class="text-center"><strong>Comece agora</strong> a aprender como utilizar tecnologia para enriquecer suas aulas!</h2>
                <div class="row">
                    {% if in_admin %}
                    <div class="col-xs-12 textright">
                        <button class="btn btn-default" ng-click="organizingCourses=!organizingCourses">
                            {% trans 'Organize courses' %} | <i class="fa fa-th-large"></i></button>
                    </div>
                    {% endif %}
                </div>
            </header>
            {% if in_admin %}
            <div class="row" class="sortable-container grid" sv-root sv-part="home_courses" sv-on-sort="set_order_changed()">
                <div ng-repeat="course in home_courses" sv-element="opts" class="grid block course col-md-4 col-sm-6 col-xs-12" ng-class="{drag:organizingCourses}">
                    {% verbatim %}
                    <span class="btn btn-warning btn-drag" sv-handle ng-show="organizingCourses"><i class="fa fa-bars"></i></span>
                    <div class="thumb-wrapper">
                        <span class="mouseover"></span>
                        <span class="thumb" ng-style="{'background-image': 'url(' + course.home_thumbnail_url + ')'}"></span>
                    </div>
                    <div class="info">
                        <h3>{{ course.name }}</h3>
                        <p class="instructors">{{ course.professors_names }}</p>
                        <p class="abstract">{{ course.abstract }}</p>
                    </div>
                    <div class="enroll">
                        <span class="course-date">
                            <i class="fa fa-calendar"></i> {{ course.start_date | date : 'MMM, yyyy' | capitalize}}
                        </span>
                        <span class="enroll-link textright uppercase">
                            Começar curso <i class="fa fa-angle-right"></i>
                        </span>
                    </div>
                    {% endverbatim %}
                </div>
            </div><!-- .row -->

            {% else %}

            <div class="row">

                {% for course in home_courses %}
                    <div class="block course col-md-4 col-sm-6">
                        <a href="{% url "course_intro" course.slug %}" class="course-link">
                            {% if not course.has_started %}<span class="coming-soon-label">{% trans 'Soon' %}</span>{% endif %}
                            {% if course.tuition == 0 %}<span class="free-label">Gratuito!</span>{% endif %}
                            <div class="thumb-wrapper">
                                <span class="mouseover"></span>
                                <span class="thumb" {% if course.home_thumbnail %}style="background-image: url({{ course.home_thumbnail.url }})"{% endif %}></span>
                            </div>
                            <div class="info">
                                <h3>{{ course.name }}</h3>
                                <p class="instructors">{% for professor in course.get_video_professors %}{{ professor.get_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                                <p class="abstract">{{ course.abstract }}</p>
                            </div>
                             <div class="enroll">
                                <span>
                                    <i class="fa fa-calendar"></i> {{ course.start_date|date:'M, Y'}}
                                </span>
                                <span class="enroll-link textright uppercase">
                                    {% if user|is_enrolled:course %}
                                    {% trans 'Go to course' %} <i class="fa fa-angle-right"></i>
                                    {% else %}
                                    {% trans 'Resume course' %} <i class="fa fa-angle-right"></i>
                                    {% endif %}
                                </span>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div><!-- .row -->
            {% endif %}

            <div class="row">
                <div class="see-all-courses col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                    <a href="{% url 'courses' %}" class="btn btn-lg btn-info btn-block">{% trans "All courses" %}</a>
                </div>
            </div>
        </section><!-- #courses -->

        <section id="how-it-works">
            <div class="container">

                {% if in_admin %}
                <header>
                    {% verbatim %}
                    <h1 ng-hide="!bottom_home_flatpages.$resolved">Curso online: Tecnologia para Sala de Aula</h1>
                    {% endverbatim %}
                </header>
                <div class="highlight textcenter">
                    <div class="col-lg-12" ng-hide="bottom_home_flatpages.$resolved">
                        <i class="loading fa fa-refresh fa-spin"></i>
                    </div>
                    <modalmarkdowneditorwithtitle tabindex="2"
                                                  on-save="save_home_text(home_bottom_intro)"
                                                  title-model="home_bottom_intro.title"
                                                  content="home_bottom_intro.content"
                                                  ng-hide="!bottom_home_flatpages.$resolved">
                    </modalmarkdowneditorwithtitle>
                </div>
                {% endif %}

                <div class="highlight textcenter">
                    <div class="row midia">
                        <div class="col-md-2">
                          <h4 class="title_midia">Saiu na mídia</h4>
                        </div>
                        <div class="col-md-3">
                          <a href="http://porvir.org/porfazer/curso-ensina-como-usar-ferramentas-virtuais-para-educadores" target="_blank">
                            <img src="{% static 'img/logo_porvir.png' %}" class="img-responsive">
                          </a>
                        </div>
                        <div class="col-md-2">
                          <a href="https://www.youtube.com/watch?v=67byn7rxG-s&t=249" target="_blank">
                            <img src="{% static 'img/logo_nova_escola.png' %}" class="img-responsive">
                          </a>
                        </div>
                        <div class="col-md-2 logo-inova">
                          <a href="http://rescola.com.br/curso-ensina-educadores-a-utilizar-ferramentas-gratuitas-da-web-na-sala-de-aula" target="_blank">
                            <img src="{% static 'img/logorescola.png' %}" class="img-responsive">
                          </a>
                        </div>
                        <div class="col-md-2 logo-inova">
                          <a href="http://www.inova.unicamp.br/noticia/3413" target="_blank">
                            <img src="{% static 'img/logo_inova.png' %}" class="img-responsive">
                          </a>
                        </div>
                    </div>
                </div>

                <div id="carousel-testimonials" class="carousel slide carousel-home" data-ride="carousel" data-interval="false">

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">

                    <div class="item active">
                        <blockquote class="testimonial">
                            <p>
                                <i class="fa fa-quote-left"></i>
                            Adorei fazer o curso de Tecnologia para Sala de Aula, a Paula é muito atenciosa e aprendi várias ferramentas muito legais e importantes para utilizar com meus alunos. Recomendadíssimo!
                                <i class="fa fa-quote-right"></i>
                            </p>
                        </blockquote>
                      <div class="carousel-caption">
                        Daniel Nadaleto, Jaú-SP e Barra Bonita-SP<br/>
                        Professor (Ensino Fundamental e Médio) de Ciências, Robótica e Biologia e professor de Didática - pós-graduação da Uningá.
                      </div>
                    </div>

                    <div class="item">
                        <blockquote class="testimonial">
                            <p>
                                <i class="fa fa-quote-left"></i>
                            Acho bem interessante a proposta do curso. Para mim valeu muito como experiência e como primeiro impulso para ir adentrando os caminhos das novas tecnologias.
                                <i class="fa fa-quote-right"></i>
                            </p>
                        </blockquote>
                      <div class="carousel-caption">
                        Silvia Poblete, Unicamp - SP<br/>
                        Professora de língua estrangeira no Centro de Ensino de Línguas na Unicamp na área de espanhol.
                      </div>
                    </div>

                    <div class="item">
                        <blockquote class="testimonial">
                            <p>
                                <i class="fa fa-quote-left"></i>
                            Gostaria de fazer mais cursos como esse, dirigidos à formação de letramento digital de professores e de apoio à prática de elaboração de atividades para a sala de aula com recursos da internet. Espero que Paula e equipe continuem a investir na organização desses cursos para professores!
                                <i class="fa fa-quote-right"></i>
                            </p>
                        </blockquote>
                      <div class="carousel-caption">
                        Liliana Gottheim, Unicamp - SP<br/>
                        Professora de língua estrangeira no Centro de Ensino de Línguas na Unicamp na área de português para estrangeiros.
                      </div>
                    </div>

                    <div class="item">
                        <blockquote class="testimonial">
                            <p>
                                <i class="fa fa-quote-left"></i>
                            Gostei do curso. Achei muito inovador, objetivo, direto e prático. Atendeu minhas necessidades!
                                <i class="fa fa-quote-right"></i>
                            </p>
                        </blockquote>
                      <div class="carousel-caption">
                        Valéria de Souza, Rio de Janeiro - RJ<br/>
                        Coordenadora pedagógica e empresária - Educação infantil e Fundamental I - Jardim Escola Ursinhos Risonhos.
                      </div>
                    </div>

                    <div class="item">
                        <blockquote class="testimonial">
                            <p>
                                <i class="fa fa-quote-left"></i>
                            Curso interessante, temas relevantes e aplicáveis na sala de aula.
                                <i class="fa fa-quote-right"></i>
                            </p>
                        </blockquote>
                      <div class="carousel-caption">
                        Bianca Mendes Henrique, Embu das Artes-SP<br/>
                        Professora de ensino fundamental I e tutora em cursos online.
                      </div>
                    </div>

                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-testimonials" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-testimonials" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Próximo</span>
                  </a>

                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-testimonials" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-testimonials" data-slide-to="1"></li>
                    <li data-target="#carousel-testimonials" data-slide-to="2"></li>
                    <li data-target="#carousel-testimonials" data-slide-to="3"></li>
                    <li data-target="#carousel-testimonials" data-slide-to="4"></li>
                  </ol>

                </div>

            </div>
        </section><!-- #how-it-works -->
        <section>
            <div class="apoio textcenter container">
                <div class="row">
                    <div class="col-md-2">
                      <h4 class="title_midia">Parceiros e apoio</h4>
                    </div>
                    <div class="col-md-4">
                      <a href="http://lisbon-challenge.com/" target="_blank">
                        <img src="{% static 'img/lclogo.png' %}" class="img-responsive">
                      </a>
                    </div>
                    <div class="col-md-2 col-md-offset-1">
                      <a href="http://atlasmedialab.com.br/parcerias/" target="_blank">
                        <img src="{% static 'img/atlas-logo.png' %}" class="img-responsive">
                      </a>
                    </div>
                    <div class="col-md-2 col-md-offset-1">
                      <a href="http://www.salaaberta.com.br" target="_blank">
                        <img src="{% static 'img/salaaberta.jpg' %}" class="img-responsive">
                      </a>
                    </div>
                </div>
            </div>
        </select>

        {% if in_admin %}
            <div class="modal fade" id="modalSelectCourses">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel_courses_selection()">&times;</button>
                    <h4 class="modal-title">{% trans 'Edit home courses' %}</h4>
                  </div>
                  <div class="modal-body">
                      <div class="row">
                        {% verbatim %}
                        <div ng-repeat="course in all_courses">
                            <div class="select-course col-xs-6" ng-click="selectCourse(course)" ng-class="{active: course.home_published}">
                                <div class="course-thumb" style="background-image: url({{ course.home_thumbnail_url }});">
                                    <span class="selected"></span>
                                </div>
                                <div class="course-info">
                                    <h3>{{ course.name }}</h3>
                                </div>
                            </div>
                        </div>
                        {% endverbatim %}
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel_courses_selection()">{% trans 'Cancel' %}</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="apply_courses_selection()">Ok</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        {% endif %}
    </div><!-- #home -->

</div>

<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
$.src='//v2.zopim.com/?2nKq0EoZuGTIzGi15KuUCCfnhuv85q3G';z.t=+new Date;$.
type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>
<!--End of Zopim Live Chat Script-->

{% endblock %}
