{% extends "base-lesson.html" %}

{% load i18n %}
{% load compressed %}
{% load staticfiles %}
{% load timtec_markdown %}
{% load return_next_and_prev_lesson %}

{% block js %}
{{ block.super }}
{% compressed_js 'lesson' %}
{% compressed_js 'forum' %}
{% endblock %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block content %}

{% if lesson.course.riw_style %}
  {% include "_lesson-riw.html"  with lesson=lesson %}
{% else %}
  {% include "_lesson-regular-course.html"  with lesson=lesson %}
{% endif %}

{% endblock %}
