{% extends 'account/base.html' %}
{% load i18n %}

{% block account_content %}
    <h1>
        Finalize o seu cadastro!
    </h1>

    <p>Você está associando a sua conta do Faceboook à Escola Mupi, para concluir seu cadastro complete os campos abaixo:</p>

    <form class="signup form-horizontal" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn btn-success text-uppercase">Concluir cadastro</button>
    </form>

{% endblock %}

