{% extends "base.html" %}
{% load compressed %}
{% load staticfiles %}
{% load i18n %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block js %}
    {{ block.super }}
    {% compressed_js 'accounts' %}
{% endblock %}

{% block content %}
<div id="profile" class="container" ng-app="accounts">
    <div class="col-xs-12 without-paddings-mobile-rl">
        <ul class="nav nav-tabs">
             <li {% if not account_pane %}class="active" {% endif %}>
                <a href="#profile-tab" data-toggle="tab">{% trans "Profile Settings" %}</a>
             </li>
             <li {% if account_pane %}class="active" {% endif %}>
                <a href="#account-tab" data-toggle="tab">{% trans "Account Settings" %}</a>
            </li>
         </ul>
    </div>

    <!--Panel 1: Configuração do Profile -->
    <div class="tab-content" ng-controller="ProfileCtrl">
         <div class="tab-pane fade in {% if not account_pane %}active{% endif %}" id="profile-tab">
                <form class="form-horizontal" method="post" action="/profile/edit" enctype="multipart/form-data">{% csrf_token %}
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="page-header-double textleft top">
                              <h3 class="top"><i class="fa fa-angle-double-right"></i> {% trans "Basic Information" %}</h3>
                            </div>
                             <span>{% trans "Let Mupi Community knows you" %}</span>
                             <br><br>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                              <fieldset class="margin-b10">
                                  <script type="text/javascript" charset="utf-8">
                                      $(document).ready(function() {
                                          function onFileSelected(event) {
                                              var selectedFile = event.target.files[0];
                                              var reader = new FileReader();
                                              var imgtag = document.getElementById("profile-avatar");
                                              imgtag.title = selectedFile.name;

                                              reader.onload = function(event) {
                                                  imgtag.src = event.target.result;
                                              };

                                              reader.readAsDataURL(selectedFile);;
                                          }

                                          function onImgNotFound(event) {
                                              $(this).attr('src', '{% static "img/avatar-default.png" %}')
                                          }

                                          $("#upload-avatar").change(onFileSelected);

                                          $("#profile-avatar").error(onImgNotFound);
                                      });
                                  </script>

                                  <label for="upload-avatar" class="upload-avatar">
                                      <span><i class="fa fa-picture-o"></i> {% trans "Upload avatar" %}</span>
                                      <div class="thumbnail">
                                          <img id="profile-avatar" width="256" src="{{ form.instance.get_picture_url }}">
                                      </div>
                                  </label>
                                  <span>{% trans "Size limit 1 MB. JPG, GIF ou PNG" %}<span>

                                  <input type="file" name="picture" id="upload-avatar" class="hidden"/>
                              </fieldset>
                          </div>

                          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                              <fieldset>
                                  <div class="form-group">
                                      <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{% trans "Full name" %}</label>

                                          {% with errors=form.first_name.errors %}
                                          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 {{ errors|yesno:" has-error,"}}">
                                              <input name="first_name" type="text" class="form-control" placeholder='{% trans "Enter your full name" %}' value="{{form.first_name.value}}">
                                              {% for error in errors %}<small>{{error}}</small>{% endfor %}
                                          </div>
                                          {% endwith %}
                                  </div>


                                  <div class="form-group">
                                      <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{% trans "Occupation" %}</label>
                                      <div class="col-sm-9 col-xs-12 text-left">
                                              <ui-select multiple ng-model="form.occupations.selected" close-on-select="false" search-enabled="false" theme="bootstrap">
                                                  <ui-select-match placeholder="Selecione ocupações...">{% verbatim %} {{$item.name}} {% endverbatim %}</ui-select-match>
                                                  <ui-select-choices repeat="occupation in avaiable_occupations">
                                                          {% verbatim %}{{occupation.name}}{% endverbatim %}
                                                  </ui-select-choices>
                                              </ui-select>
                                              {% verbatim %}
                                              <input type="hidden" name="occupations" ng-repeat="occupation in form.occupations.selected" value="{{occupation.id}}"/>
                                              {% endverbatim %}
                                          </div>
                                  </div>

                                  <div class="form-group">
                                      <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{% trans "State" %}</label>
                                      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                          <select class="form-control" name="uf" id="uf_state" ng-model="form.uf" ng-options="uf for uf in list_ufs" ng-change="filter_cities()">
                                              <option value=""></option>
                                          </select>
                                      </div>

                                      <label class="col-lg-2 col-md-2 col-sm-2 col-xs-12 control-label">{% trans "City" %}</label>
                                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <select class="form-control" name="city" id="city" ng-model="form.city" ng-options="city as city.name for city in list_cities track by city.id">
                                                <option value=""></option>
                                            </select>
                                      </div>
                                  </div>

                                  {% with errors=form.site.errors %}
                                  <div class="form-group{{ errors|yesno:" has-error,"}}">
                                      <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{% trans "Site" %}</label>
                                      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                          <input name="site" type="text" class="form-control" placeholder="Você possui algum site pessoal?" value="{{form.site.value}}">
                                          {% for error in errors %}<small>{{error}}</small>{% endfor %}
                                      </div>
                                  </div>
                                  {% endwith %}

                                  {% with errors=form.biography.errors %}
                                  <div class="form-group{{ errors|yesno:" has-error,"}}">
                                      <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{% trans "Bio" %}</label>
                                      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                          <textarea name="biography" class="form-control" rows="7" placeholder="Escreve um pouco sobre você...">{{form.biography.value}}</textarea>
                                          {% for error in errors %}<small>{{error}}</small>{% endfor %}
                                      </div>
                                  </div>
                                  {% endwith %}
                              </fieldset>
                          </div>
                        </div>

                        <div class="col-sm-12 col-xs-12 margin-b10">
                            <fieldset>
                                <div class="page-header-double textleft top">
                                  <h3 class="top"><i class="fa fa-angle-double-right"></i> {% trans "School(s)/Institution(s) where you work" %}</h3>
                                </div>
                                <div class="submit textright">
                                    <button type="button" ng-click="school_form_modal(-1)" class="btn btn-info add-school">{% trans "Add school/institution" %}</button>
                                </div>
                                <br>
                                   <section id="all-schools" class="user-list">
                                        <table class="table table-list" id="table-list-schools">
                                            <tbody><tr>
                                                <th class="">{% trans "Nome" %}</th>
                                                <th class="">{% trans "Type" %}</th>
                                                <th class="">{% trans "State" %}</th>
                                                <th class="">{% trans "City" %}</th>
                                                <th class="">{% trans "Teaching Level" %}</th>
                                                <th class="text-center">{% trans "Atualizar" %}</th>
                                                <th class="text-center">{% trans "Remover" %}</th>
                                            </tr>
                                            <tr class="ng-scope" ng-repeat="school_info in school_infos">
                                                {% verbatim %}
                                                <td class="ng-binding">{{school_info.school.name}}</td>
                                                <td class="ng-binding">{{school_info.school.school_type_complete}}</td>
                                                <td class="ng-binding">{{school_info.school.city.uf}}</td>
                                                <td class="ng-binding">{{school_info.school.city.name}}</td>
                                                <td class="ng-binding">
                                                    <span ng-repeat="el in school_info.education_levels">{{el.name}}<br></span>
                                                </td>
                                                <td class="textcenter">
                                                    <button type="button" class="btn btn-warning" ng-click="school_form_modal(school_info.id)"><i class="fa fa-pencil-square-o"></i></button>
                                                </td>
                                                <td class="textcenter">
                                                    <button type="button" class="btn btn-warning" ng-click="remove_school(school_info.school.id)"><i class="fa fa-trash-o"></i></button>
                                                </td>
                                                {% endverbatim %}
                                            </tr>
                                        </tbody></table>
                                    </section>
                            </fieldset>
                        </div>
                        <br>
                        <div class="col-sm-12 col-xs-12">
                            <fieldset>
                                <div class="page-header-double textleft top">
                                  <h3 class="top"><i class="fa fa-angle-double-right"></i> {% trans "Teaching Experience" %}</h3>
                                </div>
                                <span>{% trans "Tell us what grades do you teach?" %}</span>
                                <br><br>
                                <div class="form-group">
                                      <div class="col-sm-6">
                                      <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{% trans "Grade" %}</label>
                                      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 text-left margin-b10">
                                                <ui-select multiple ng-model="form.education_degrees.selected" close-on-select="false" search-enabled="false" theme="bootstrap">
                                                    <ui-select-match placeholder="Selecione opções...">{% verbatim %} {{$item.name}} {% endverbatim %}</ui-select-match>
                                                    <ui-select-choices repeat="ed in avaiable_education_degrees">
                                                        {% verbatim %}{{ed.name}}{% endverbatim %}
                                                    </ui-select-choices>
                                                </ui-select>
                                                {% verbatim %}
                                                    <input type="hidden" name="education_degrees" ng-repeat="ed in form.education_degrees.selected" value="{{ed.id}}"/>
                                                {% endverbatim %}
                                          </div>
                                    </div>
                                      <div class="col-sm-6">
                                        <div class="row">
                                          <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">{% trans "Subjects / Knowledge Area" %}</label>
                                          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-left margin-b10">
                                                  <ui-select multiple ng-model="form.disciplines.selected" close-on-select="false" search-enabled="false" theme="bootstrap">
                                                      <ui-select-match placeholder="Selecione opções...">{% verbatim %} {{$item.name}} {% endverbatim %}</ui-select-match>
                                                      <ui-select-choices repeat="discipline in avaiable_disciplines">
                                                          {% verbatim %}{{discipline.name}}{% endverbatim %}
                                                      </ui-select-choices>
                                                  </ui-select>
                                                  {% verbatim %}
                                                      <input type="hidden" name="disciplines" ng-repeat="discipline in form.disciplines.selected" value="{{discipline.name}}"/>
                                                  {% endverbatim %}
                                          </div>
                                        </div>
                                        <div class="row">
                                          <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">{% trans "Other Subject" %}</label>
                                              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-left">
                                                <!-- Other Subject Selected-->
                                                <input name="other-subject" type="text" class="form-control margin-b10" ng-model="form.other_discipline">
                                                <input type="button" class="btn btn-info" ng-click="add_discipline()" value="{% trans "Add" %}">
                                              </div>
                                        </div>

                                      </div>

                                  </div>
                            </fieldset>
                        </div>
                        <div class="submit text-center">
                            <hr/>
                            <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
                        </div>
                    </div>
                </form>
         </div>

         <!--Panel 2: Configuração da Conta -->
         <div class="tab-pane fade in {% if account_pane %}active{% endif %}" id="account-tab">
             <form class="form-horizontal" method="post" action="/profile/edit/account">{% csrf_token %}
                    <div class="row">
                        <div class="col-md-offset-2 col-sm-8 col-xs-12">
                            <fieldset>
                                <div class="page-header-double textleft top">
                                    <h3><i class="fa fa-angle-double-right"></i> {% trans "E-mail" %}</h3>
                                </div>

                                <div class="form-group{{ errors|yesno:" has-error,"}}">
                                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{% trans "Main E-mail" %}</label>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <span name="email" class="form-control">{{user.email}}</span>
                                    </div>
                                </div>

                                {% with errors=form_email_password.business_email.errors %}
                                <div class="form-group{{ errors|yesno:" has-error,"}}">
                                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{% trans "Additional E-mail" %}</label>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        {% if form_email_password.business_email.value == None %}
                                            <input name="business_email" type="e-mail" class="form-control" placeholder='{% trans "Additional E-mail" %}' value="">
                                        {% else %}
                                            <input name="business_email" type="e-mail" class="form-control" placeholder='{% trans "Additional E-mail" %}' value="{{ form_email_password.business_email.value }}">
                                        {% endif %}
                                        {% for error in errors %}<small>{{error}}</small>{% endfor %}
                                    </div>

                                </div>
                                {% endwith %}


                            </fieldset>


                            <fieldset>
                                <div class="page-header-double textleft top">
                                    <h3><i class="fa fa-angle-double-right"></i> {% trans "Password" %}</h3>
                                </div>

                                {% with errors=form_email_password.password2.errors %}
                                <div class="form-group{{ errors|yesno:" has-error,"}}">
                                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{% trans "Password" %}</label>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left">
                                            <input name="password1" type="password" class="form-control" placeholder="{% trans 'New password' %}">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 right">
                                            <input name="password2" type="password" class="form-control" placeholder="{% trans 'Confirm new password' %}">
                                        </div>
                                        {% for error in errors %}<small>{{error}}</small>{% endfor %}
                                    </div>
                                </div>
                                {% endwith %}
                            </fieldset>

                            <div class="submit textright">
                                <hr/>
                                <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
                            </div>
                        </div>
                    </div>
                </form>
         </div>
    </div>

    <!--Add School Modal -->
    <div id="add-school-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="false">
    <div class="modal-dialog">
      <div class="modal-content" ng-controller="SchoolCtrl">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="loginModalLabel" class="textcenter" ng-show="(form.id < 0)">
            {% trans "Add school/institution" %}
          </h3>
          <h3 id="loginModalLabel" class="textcenter" ng-show="form.id > 0">
            {% trans "Edit school/institution" %}
          </h3>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12 col-xs-12">
              <div class="panel left-xs right-xs top-xs">
                <div class="panel-heading left-xs right-xs">
                  <h4 class="bottom-xs top-xs">{% trans "Fill out information about school/institution where you work" %}</h4>
                </div>

                <div class="panel-body bottom-xs left-xs right-xs top-xs">
                  <form class="form-horizontal ng-pristine ng-valid" id="school-form" ng-submit="addSchoolForm()">
                    <div class="form-group">
                      <label class="col-md-2 col-xs-12 control-label">{% trans "Name" %}</label>
                      <div class="col-lg-9 col-xs-12">
                        <input ng-model="form.name" type="text" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-2 col-xs-12 control-label">{% trans "Type" %}</label>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control" ng-model="form.school_type" name="school_types">
                            {% verbatim %}
                            <option ng-repeat="st in list_schooltypes" value="{{st.value}}">{{ st.name }}</option>
                            {% endverbatim %}
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-2 col-xs-12 control-label">{% trans "State" %}</label>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                          <select class="form-control" ng-model="form.uf" ng-change="filter_cities()">
                              {% verbatim %}
                              <option ng-repeat="uf in list_ufs" value="{{ uf }}">{{ uf }}</option>
                              {% endverbatim %}
                          </select>
                        </div>

                        <label class="col-lg-1 col-md-1 col-sm-1 col-xs-12 control-label">{% trans "City" %}</label>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control" ng-model="form.city_id">
                              {% verbatim %}
                              <option ng-repeat="city in list_cities" ng-selected="{{ form.city_id == city.id }}" value="{{city.id}}">{{ city.name }}</option>
                              {% endverbatim %}
                          </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">{% trans "Teaching Level that you teach" %}</label>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <!-- Teaching Levels-->
                            <ui-select multiple ng-model="form.education_levels.selected" close-on-select="false" search-enabled="false" theme="bootstrap">
                                <ui-select-match placeholder="Selecione níveis de estudo...">{% verbatim %} {{$item.name}} {% endverbatim %}</ui-select-match>
                                <ui-select-choices repeat="el in avaiable_education_levels">
                                    {% verbatim %}{{el.name}}{% endverbatim %}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 has-error" ng-show="form.has_errors">
                        <small>Por favor, preencha todos os campos</small>
                    </div>

                    <div class="submit">
                      <div class="row">
                        <div class="col-md-offset-4 col-md-3 col-xs-12 text-center">
                          <button type="submit" id="btn-add-school-table" class="btn btn-success col-xs-12">{% trans "Save" %}</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!--fin del modal -->
</div>
{% endblock %}
