{% extends "base.html" %}
{% load compressed %}
{% load staticfiles %}
{% load i18n %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block js %}
    {{ block.super }}
    {% compressed_js 'accounts' %}
{% endblock %}

{% block content %}
<div id="profile" class="container" ng-app="accounts">
    <div class="col-xs-12">
        <ul class="nav nav-tabs">
             <li class="active">
                <a href="#profile-tab" data-toggle="tab">{% trans "Profile Settings" %}</a>
             </li>
             <li><a href="#account-tab" data-toggle="tab">{% trans "Account Settings" %}</a></li>
         </ul>
    </div>

    <!--Panel 1: Configuração do Profile -->
    <div class="tab-content" ng-controller="ProfileCtrl">
         <div class="tab-pane fade in active" id="profile-tab">
                <form class="form-horizontal" method="post" action="/profile/edit" enctype="multipart/form-data">{% csrf_token %}
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <div class="page-header-double textleft top">
                              <h3 class="top"><i class="fa fa-angle-double-right"></i> {% trans "Basic Information" %}</h3>
                            </div>
                             <span>{% trans "Let Mupi Community knows you" %}</span>
                             <br><br>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <fieldset>
                                <script type="text/javascript" charset="utf-8">
                                    $(document).ready(function() {
                                        function onFileSelected(event) {
                                            var selectedFile = event.target.files[0];
                                            var reader = new FileReader();
                                            var imgtag = document.getElementById("profile-avatar");
                                            imgtag.title = selectedFile.name;

                                            reader.onload = function(event) {
                                                imgtag.src = event.target.result;
                                            };

                                            reader.readAsDataURL(selectedFile);;
                                        }

                                        function onImgNotFound(event) {
                                            $(this).attr('src', '{% static "img/avatar-default.png" %}')
                                        }

                                        $("#upload-avatar").change(onFileSelected);

                                        $("#profile-avatar").error(onImgNotFound);
                                    });
                                </script>

                                <label for="upload-avatar" class="upload-avatar">
                                    <span><i class="fa fa-picture-o"></i> {% trans "Upload avatar" %}</span>
                                    <div class="thumbnail">
                                        <img id="profile-avatar" width="256" src="{{ form.instance.get_picture_url }}">
                                    </div>
                                </label>
                                <span>{% trans "Size limit 1 MB. JPG, GIF ou PNG" %}<span>

                                <input type="file" name="picture" id="upload-avatar" class="hidden"/>
                            </fieldset>
                        </div>

                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{% trans "Full name" %}</label>

                                        {% with errors=form.first_name.errors %}
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 {{ errors|yesno:" has-error,"}}">
                                            <input name="first_name" type="text" class="form-control" placeholder='{% trans "Enter your full name" %}' value="{{form.first_name.value}}">
                                            {% for error in errors %}<small>{{error}}</small>{% endfor %}
                                        </div>
                                        {% endwith %}
                                </div>


                                <div class="form-group">
                                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{% trans "Occupation" %}</label>
                                    <div class="form-group  custom-inputs-gray">
                                        <div class="col-sm-8 text-left">
                                            <ui-select multiple ng-model="occupations.selected" close-on-select="false" search-enabled="false" theme="bootstrap">
                                                <ui-select-match placeholder="Selecione ocupações...">{% verbatim %} {{$item.name}} {% endverbatim %}</ui-select-match>
                                                <ui-select-choices repeat="occupation in avaiable_occupations">
                                                        {% verbatim %}{{occupation.name}}{% endverbatim %}
                                                </ui-select-choices>
                                            </ui-select>
                                            {% verbatim %}
                                            <input type="hidden" name="occupations" ng-repeat="occupation in occupations.selected" value="{{occupation.id}}"/>
                                            {% endverbatim %}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{% trans "State" %}</label>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <select class="form-control" name="uf" id="uf_state" ng-model="filters_selected_uf" ng-change="filter_cities()">
                                            <option value=" "></option>
                                            {% verbatim %}
                                            <option ng-repeat="state in list_states" ng-selected="{{ selected_uf == state }}" value="{{state}}">{{ state }}</option>
                                            {% endverbatim %}
                                        </select>
                                    </div>

                                    <div class="form-group{{ errors|yesno:" has-error,"}}">
                                        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{% trans "City" %}</label>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <select class="form-control" name="city" id="city">
                                                {% verbatim %}
                                                <option ng-repeat="city in list_cities" ng-selected="{{ selected_city_id == city.id }}" value="{{city.id}}">{{ city.name }}</option>
                                                {% endverbatim %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                {% with errors=form.site.errors %}
                                <div class="form-group{{ errors|yesno:" has-error,"}}">
                                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{% trans "Site" %}</label>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <input name="site" type="text" class="form-control" placeholder="Você possui algum site pessoal?" value="{{form.site.value}}">
                                        {% for error in errors %}<small>{{error}}</small>{% endfor %}
                                    </div>
                                </div>
                                {% endwith %}

                                {% with errors=form.biography.errors %}
                                <div class="form-group{{ errors|yesno:" has-error,"}}">
                                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{% trans "Bio" %}</label>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <textarea name="biography" class="form-control" rows="7" placeholder="Escreve um pouco sobre você...">{{form.biography.value}}</textarea>
                                        {% for error in errors %}<small>{{error}}</small>{% endfor %}
                                    </div>
                                </div>
                                {% endwith %}
                            </fieldset>
                        </div>

                        <div class="col-sm-12 col-xs-12">
                            <fieldset>
                                <div class="page-header-double textleft top">
                                  <h3 class="top"><i class="fa fa-angle-double-right"></i> {% trans "School(s)/Institution(s) where you work" %}</h3>
                                </div>
                                <div class="submit textright">
                                    <button type="button" class="btn btn-info add-school">{% trans "Add school/institution" %}</button>
                                </div>
                                <br>
                                   <section id="all-schools" class="user-list">
                                        <table class="table table-list" id="table-list-schools">
                                            <tbody><tr>
                                                <th class="">{% trans "Nome" %}</th>
                                                <th class="">{% trans "Type" %}</th>
                                                <th class="">{% trans "City" %}</th>
                                                <th class="">{% trans "State" %}</th>
                                                <th class="">{% trans "Teaching Level" %}</th>
                                                <th class="text-center">{% trans "Atualizar" %}</th>
                                                <th class="text-center">{% trans "Remover" %}</th>
                                            </tr>
                                            <tr class="ng-scope">
                                                <td class="ng-binding">Augusto Laranja</td>
                                                <td class="ng-binding">Privada</td>
                                                <td class="ng-binding">Limeira</td>
                                                <td class="ng-binding">SP</td>
                                                <td class="ng-binding">Ensino Médio</td>
                                                <td class="textcenter">
                                                    <button class="btn btn-warning" ng-click=""><i class="fa fa-pencil-square-o"></i></button>
                                                </td>
                                                <td class="textcenter">
                                                    <button class="btn btn-warning btnDelete" ng-click=""><i class="fa fa-trash-o"></i></button>
                                                </td>

                                            </tr>
                                            <tr class="ng-scope">
                                                <td class="ng-binding">Pequeno Urso</td>
                                                <td class="ng-binding">Privada</td>
                                                <td class="ng-binding">Limeira</td>
                                                <td class="ng-binding">SP</td>
                                                <td class="ng-binding">Educação Infantil</td>
                                                <td class="textcenter">
                                                    <button class="btn btn-warning" ng-click=""><i class="fa fa-pencil-square-o"></i></button>
                                                </td>
                                                <td class="textcenter">
                                                    <button class="btn btn-warning btnDelete" ng-click=""><i class="fa fa-trash-o"></i></button>
                                                </td>

                                            </tr>
                                        </tbody></table>
                                    </section>
                            </fieldset>
                        </div>
                        <br>
                        <div class="col-sm-12 col-xs-12">
                            <fieldset>
                                <div class="page-header-double textleft top">
                                  <h3 class="top"><i class="fa fa-angle-double-right"></i> {% trans "Teaching Experience" %}</h3>
                                </div>
                                <span>{% trans "Tell us what grades do you teach?" %}</span>
                                <br><br>
                                <div class="form-group">
                                      <div class="col-sm-6">
                                      <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{% trans "Grade" %}</label>
                                      <div class="form-group  custom-inputs-gray">
                                          <div class="col-sm-6 text-left">
                                                <ui-select multiple ng-model="education_degrees.selected" close-on-select="false" search-enabled="false" theme="bootstrap">
                                                    <ui-select-match placeholder="Selecione opções...">{% verbatim %} {{$item.name}} {% endverbatim %}</ui-select-match>
                                                    <ui-select-choices repeat="ed in avaiable_education_degrees">
                                                        {% verbatim %}{{ed.name}}{% endverbatim %}
                                                    </ui-select-choices>
                                                </ui-select>
                                                {% verbatim %}
                                                    <input type="hidden" name="education_degrees" ng-repeat="ed in education_degrees.selected" value="{{ed.id}}"/>
                                                {% endverbatim %}
                                          </div>
                                      </div>
                                    </div>
                                      <div class="col-sm-6">
                                        <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">{% trans "Subjects / Knowledge Area" %}</label>
                                        <div class="form-group  custom-inputs-gray">
                                            <div class="col-sm-6 text-left">
                                                <ui-select multiple ng-model="disciplines.selected" close-on-select="false" search-enabled="false" theme="bootstrap">
                                                    <ui-select-match placeholder="Selecione opções...">{% verbatim %} {{$item.name}} {% endverbatim %}</ui-select-match>
                                                    <ui-select-choices repeat="discipline in avaiable_disciplines">
                                                        {% verbatim %}{{discipline.name}}{% endverbatim %}
                                                    </ui-select-choices>
                                                </ui-select>
                                                {% verbatim %}
                                                    <input type="hidden" name="disciplines" ng-repeat="discipline in disciplines.selected" value="{{discipline.name}}"/>
                                                {% endverbatim %}
                                            </div>
                                        </div>
                                        <div class="div-other-subject">
                                          <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12 control-label">{% trans "Other Subject" %}</label>
                                          <div class="form-group  custom-inputs-gray">
                                              <div class="col-sm-6 text-left">
                                                <!-- Other Subject Selected-->
                                                <input name="other-subject" type="text" class="form-control" ng-model="other_discipline">
                                                <input type="button" class="btn btn-info" ng-click="add_discipline()" value="{% trans "Add" %}">
                                              </div>
                                          </div>
                                        </div>

                                      </div>

                                  </div>
                            </fieldset>
                        </div>


                            <div class="submit text-center">
                                <hr/>
                                <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
                            </div>
                    </div>
                </form>
         </div>

         <!--Panel 2: Configuração da Conta -->
         <div class="tab-pane fade in" id="account-tab">
             <form class="form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="row">
                        <div class="col-md-offset-2 col-sm-8 col-xs-12">
                            <fieldset>
                                <div class="page-header-double textleft top">
                                    <h3><i class="fa fa-angle-double-right"></i> {% trans "E-mail" %}</h3>
                                </div>

                                {% with errors=form.email.errors %}
                                <div class="form-group{{ errors|yesno:" has-error,"}}">
                                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{% trans "Main E-mail" %}</label>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <input name="email" type="e-mail" class="form-control" placeholder='{% trans "Main E-mail" %}' value="{{form.email.value}}">
                                        {% for error in errors %}<small>{{error}}</small>{% endfor %}
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <button class="btn btn-info" ng-click="filter_users()">{% trans 'Confirm e-mail' %}</button>
                                    </div>

                                </div>
                                {% endwith %}

                                {% with errors=form.email.errors %}
                                <div class="form-group{{ errors|yesno:" has-error,"}}">
                                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{% trans "Additional E-mail" %}</label>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <input name="email" type="e-mail" class="form-control" placeholder='{% trans "Additional E-mail" %}' value="{{form.email.value}}">
                                        {% for error in errors %}<small>{{error}}</small>{% endfor %}
                                    </div>

                                </div>
                                {% endwith %}


                            </fieldset>


                            <fieldset>
                                <div class="page-header-double textleft top">
                                    <h3><i class="fa fa-angle-double-right"></i> {% trans "Password" %}</h3>
                                </div>

                                {% with errors=form.password2.errors %}
                                <div class="form-group{{ errors|yesno:" has-error,"}}">
                                    <label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">{% trans "Password" %}</label>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left">
                                            <input name="password1" type="password" class="form-control" placeholder="{% trans 'New password' %}">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 right">
                                            <input name="password2" type="password" class="form-control" placeholder="{% trans 'Confirm new password' %}">
                                        </div>
                                        {% for error in errors %}<small>{{error}}</small>{% endfor %}
                                    </div>
                                </div>
                                {% endwith %}
                            </fieldset>

                            <div class="submit textright">
                                <hr/>
                                <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
                            </div>
                        </div>
                    </div>
                </form>
         </div>
    </div>

    <!--Add School Modal -->
    <div id="add-school-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="false">
    <div class="modal-dialog">
      <div class="modal-content" ng-controller="SchoolCtrl">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="loginModalLabel" class="textcenter">
            {% trans "Add school/institution" %}
          </h3>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12 col-xs-12">
              <div class="panel left-xs right-xs top-xs">
                <div class="panel-heading left-xs right-xs">
                  <h4 class="bottom-xs top-xs">{% trans "Fill out information about school/institution where you work" %}</h4>
                </div>
  
                <div class="panel-body bottom-xs left-xs right-xs top-xs">
                  <form class="form-horizontal ng-pristine ng-valid" id="school-form" ng-submit="addSchoolForm()">
                    <div class="form-group">
                      <label class="col-md-2 col-xs-12 control-label">{% trans "Name" %}</label>
                      <div class="col-lg-9 col-xs-12">
                        <input ng-model="form.name" type="text" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-2 col-xs-12 control-label">{% trans "Type" %}</label>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control" ng-model="form.school_type" name="school_types">
                            {% verbatim %}
                            <option ng-repeat="st in schooltypes" value="{{st.value}}">{{ st.name }}</option>
                            {% endverbatim %}
                        </select>
                      </div>
                    </div>
  
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-2 col-xs-12 control-label">{% trans "State" %}</label>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                          <select class="form-control" ng-model="filters_selected_uf" ng-change="filter_cities()">
                              {% verbatim %}
                              <option ng-repeat="state in list_states" value="{{state}}">{{ state }}</option>
                              {% endverbatim %}
                          </select>
                        </div>
  
                        <label class="col-lg-1 col-md-1 col-sm-1 col-xs-12 control-label">{% trans "City" %}</label>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                          <select class="form-control" ng-model="form.city">
                              {% verbatim %}
                              <option ng-repeat="city in list_cities" ng-selected="{{ selected_city_id == city.id }}" value="{{city.id}}">{{ city.name }}</option>
                              {% endverbatim %}
                          </select>
                        </div>
                    </div>
  
                    <div class="form-group">
                        <label class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">{% trans "Teaching Level that you teach" %}</label>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <!-- Teaching Levels-->
                            <ui-select multiple ng-model="education_levels.selected" close-on-select="false" search-enabled="false" theme="bootstrap">
                                <ui-select-match placeholder="Selecione níveis de estudo...">{% verbatim %} {{$item.name}} {% endverbatim %}</ui-select-match>
                                <ui-select-choices repeat="el in avaiable_education_levels">
                                    {% verbatim %}{{el.name}}{% endverbatim %}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 has-error" ng-show="has_errors">
                        <small>Por favor, preencha todos os campos</small>
                    </div>
  
                    <div class="submit">
                      <div class="row">
                        <div class="col-md-offset-4 col-md-3 col-xs-12 text-center">
                          <button type="submit" id="btn-add-school-table" class="btn btn-success col-xs-12">{% trans "Add" %}</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>





<script>

/*Load Multiple Select Value*/
var myJSONOccupation = {
 "1":"Professor(a)",
 "2":"Diretor(a)",
 "3":"Coordenador(a) Pedagógico(a)",
 "4":"Outro"
}

var myJSONGrades = {
 "1":"1º ano EF",
 "2":"2º ano EF",
 "3":"3º ano EF",
 "8":"8º ano EF"
}


var myJSONGTeachingLevels = {
 "1":"Ensino Fundamental",
 "2":"Ensino Médio",
 "3":"Ensino Técnico",
 "4":"Ensino Superior"
}


var myJSONSubjects = {
 "1":"Matemática",
 "2":"Português",
 "3":"Biologia",
 "4": "Filosofia"
}

var $occupations = $('.list-occupations');
  $occupations.find('option').remove();
  $.each(myJSONOccupation,function(key, value)
  {
      $occupations.append('<option value=' + key + '>' + value + '</option>');
  });


var $grades = $('.list-grades');
  $grades.find('option').remove();
  $.each(myJSONGrades,function(key, value)
  {
      $grades.append('<option value=' + key + '>' + value + '</option>');
  });

var $subjects = $('.list-subjects');
  $subjects.find('option').remove();
  $.each(myJSONSubjects,function(key, value)
  {
      $subjects.append('<option value=' + key + '>' + value + '</option>');
  });


  var $teachingLevels = $('.list-teaching-levels');
    $teachingLevels.find('option').remove();
    $.each(myJSONGTeachingLevels,function(key, value)
    {
        $teachingLevels.append('<option value=' + key + '>' + value + '</option>');
    });
</script>

<script type="text/javascript" charset="utf-8">
/*Open Add School/Institution modal*/
        $(document).ready(function() {
            var $modal = $("#add-school-modal");
            $('button.add-school').click(function(e){
                $modal.modal();
                return false;
            });
            $('.dropdown-menu form').click(function(e) {
                e.stopPropagation();
            });
        });
</script>

<script type="text/javascript">
/*Campos multivalorados*/
//   $(document).ready(function() {
//    $('.list-occupations').select2();
//    $('.list-grades').select2();
//    $('.list-subjects').select2();
//    $('.list-teaching-levels').select2();
//   });
</script>



<script>
//Remove a school/institution of the table of schools
$(document).ready(function(){

 $("#table-list-schools").on('click','.btnDelete',function(){
       if(confirm("Está seguro de remover esta escola/instituição?")){
         (this).closest('tr').remove();
    }
    else{
        return false;
    }
     });

});
</script>

<script>
//Add a school/institution of the table of schools
$(".btn-add-school-table").click(function(event) {
//   event.preventDefault();
  var schoolName = $("#school-name").val();
  var schoolType = $("#school-type").val();
  var schoolState = $("#school-state").val();
  var schoolCity= $("#school-city").val();
  var schoolTeachingLevel = $("#school-teaching-level").val();
  var btnEditRow   =  '<button class="btn btn-warning" ng-click=""><i class="fa fa-pencil-square-o"></i></button>';
  var btnDeleteRow =  '<button class="btn btn-warning btnDelete" ng-click=""><i class="fa fa-trash-o"></i></button>';

  $('#table-list-schools tr:last').after('<tr><td>' + schoolName  +
                                        '</td><td>' + schoolType  +
                                        '</td><td>' + schoolState +
                                        '</td><td>' + schoolCity +
                                        '</td><td>' + schoolTeachingLevel +
                                        '</td><td class="text-center">' + btnEditRow +
                                        '</td><td class="text-center">' + btnDeleteRow+
                                        '</td></tr>');
});
</script>

<script>
  $( function() {
    var availableSchools = [
      "Escola Manuel Cônego",
      "Escola Murilo Lemos",
      "Colégio Portinari",
      "Colégio Objetivo",
      "Colégio Maple Bear",
      "Escola Pequeno Urso"
    ];
    $( "#search-school" ).autocomplete({
      source: availableSchools,
      messages: {
        noResults: '',
        results: function() {}
      }
    });
  } );
  
</script>
{% endblock %}
