{% extends "base.html" %}
{% load compressed %}
{% load staticfiles %}
{% load i18n %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block js %}
    {{ block.super }}
    {% compressed_js 'accounts' %}
{% endblock %}

{% block content %}

<!-- Profile 2018 -->
<div id="profile" class="container" ng-app="accounts"  ng-controller="ProfileCtrl">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="thumbnail">
                <img id="profile-avatar" width="256" src="{{ profile_user.get_picture_url }}">
            </div>
        </div>
        <hr class="visible-xs"/>

        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <fieldset>
                <div class="page-header-double textleft top">
                    <h3 class="top"><i class="fa fa-angle-double-right"></i> {% trans "Basic Information" %}</h3>
                </div>


                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <strong>{% trans "Full name" %}</strong>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <p>{{profile_user.first_name}} {{profile_user.last_name}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" >
                        <strong>{% trans "Occupation" %}</strong>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" >
                        <p class="occupations-not-edit">
                            <span ng-repeat="occupation in form.occupations.selected">{% verbatim %}{{occupation.name}}{% endverbatim %}<br></span>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <strong>{% trans "Site" %}</strong>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <p><a href="{{profile_user.site}}" target="_blank">{{profile_user.site}}</a></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <strong>{% trans "Bio" %}</strong>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <p>{{profile_user.biography}}</p>
                    </div>
                </div>
            </fieldset>
        </div>

    </div>
</div>
{% endblock %}
